[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
port={{ mysql_port }}
max_allowed_packet={{ mysql_max_allowed_packet }}

character_set_server={{ mysql_character_set_server }}
collation_server={{ mysql_collation_server }}

{% if mysql_allow_all_hosts == true %}
bind-address=0.0.0.0
{% else %}
bind-address={{ boxipaddress }}
{% endif %}

innodb_buffer_pool_size={{ innodb_buffer_pool_size }}
{% if innodb_file_per_table == true %}
innodb_file_per_table
{% endif %}
innodb_log_file_size={{ innodb_log_file_size }}

{% if skip_name_resolve == true %}
skip-name-resolve
{% endif %}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid