---
- name: install mysql packages
  yum: pkg={{ item }} state=installed
  when: ansible_os_family == "RedHat"
  sudo: true
  with_items:
    - mysql
    - mysql-server
    - MySQL-python

- name: make sure mysql starts
  command: chkconfig mysqld on
  sudo: true

# set up mysql variables
- name: create MySQL configuration file
  action: template src=redhat_mysql.my.cnf.j2 dest=/etc/my.cnf
  sudo: true
  register: mysql_conf
  notify:
  - restart mysqld

- name: remove the InnoDB log files in case InnoDB settings have been changed (1/2).
  file: path=/var/lib/mysql/ib_logfile0 state=absent
  when: mysql_conf.changed
  sudo: true

- name: remove the InnoDB log files in case InnoDB settings have been changed (2/2).
  file: path=/var/lib/mysql/ib_logfile1 state=absent
  when: mysql_conf.changed
  sudo: true

- name: get iptables rules
  shell: iptables -L
  register: iptablesrules
  failed_when: "iptablesrules.rc != 0"
  changed_when: false
  always_run: yes
  sudo: true

- name: add mysql to iptables
  command: iptables -A INPUT -p tcp --dport {{ mysql_port }} -j  ACCEPT  -m comment --comment "mysql"
  sudo: true
  when: iptablesrules.stdout.find("mysql") == -1
  notify:
   - save iptables

- name: force restart mysql
  service: name=mysqld state=restarted
  sudo: true

# MySQL database setup, this does the equivalent of mysql_secure_installation.
- name: set the root password.
  mysql_user: name=root password={{ mysql_root_password }} host=localhost

- name: config for easy access as root user
  template: src=mysql_root.my.cnf.j2 dest=/root/.my.cnf
  sudo: true

- name: config for easy access as root user
  template: src=mysql_root.my.cnf.j2 dest=/home/{{ user }}/.my.cnf

- name: delete anonymous MySQL server user for {{ server_hostname }}
  mysql_user: name="" host="{{ server_hostname }}" state="absent" login_user=root login_password={{ mysql_root_password }}

- name: delete anonymous MySQL server user for localhost
  mysql_user: name="" state="absent" host="{{ server_hostname }}" login_user="root" login_password="{{ mysql_root_password }}"

- name: secure the MySQL root user for localhost
  mysql_user: name="root" password="{{ mysql_root_password }}" host="localhost" login_user=root login_password={{ mysql_root_password }}

- name: allow root remote access on boxipaddress
  mysql_user: name="root" password="{{ mysql_root_password }}" priv="*.*:ALL" host={{ boxipaddress }}

- name: remove the MySQL test database
  mysql_db: db=test state=absent login_user=root login_password={{ mysql_root_password }}

# set up default database(s)
- name: create application database(s)
  mysql_db: name={{ item }} state=present login_password={{ mysql_root_password }} login_user=root collation=utf8_general_ci
  with_items: dbname

- name: create application database(s) user(s)
  mysql_user: name={{ dbuser }} password={{ dbpass }} priv="{{ item[0] }}.*:ALL" host="{{ item[1] }}" state=present login_password={{ mysql_root_password }} login_user=root append_privs=yes
  with_nested:
    - dbname
    - mysql_hosts
