<?php

# @{{ boxname }}.local
$aliases['local'] = array(
  'root' => '/var/www/site/docroot',
  'uri' => '{{ webserver_hostname_alias }}',
  'path-aliases' => array(
    '%dump-dir' => '/var/www/site/drush-dumps',
  ),
);

# @{{ boxname }}.dev
$aliases['dev'] = array(
  'root' => '/home/some-user/dev',
  'uri' => 'dev.example.com',
  'remote-host' => '123.123.123.123',
  'remote-user' => 'some-user',
  'path-aliases' => array(
  	'%drush' => '/usr/bin/drush',
    '%dump-dir' => '/home/some-user/drush-dumps',
  ),
  'command-specific' => array(
    'rsync' => array (
      'mode' => 'adivvz',
      'exclude-paths' => 'css:ctools:js:styles:xmlsitemap:.DS_Store:.htaccess',
    ),
  ),
);

# @{{ boxname }}.prod
$aliases['prod'] = array(
  'root' => '/home/some-user/www',
  'uri' => 'example.com',
  'remote-host' => '789.789.789.789',
  'remote-user' => 'some-user',
  'path-aliases' => array(
  	'%drush' => '/usr/bin/drush',
    '%dump-dir' => '/home/some-user/drush-dumps',
  ),
  'command-specific' => array(
    'rsync' => array (
      'mode' => 'adivvz',
      'exclude-paths' => 'css:ctools:js:styles:xmlsitemap:.DS_Store:.htaccess',
    ),
  ),
);