# {{ ansible_managed }}
<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ admin_mail }}
  ServerName adminer.{{ webserver_hostname }}

  DocumentRoot /var/www/adminer

  <Directory "/var/www/adminer/">
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
     {% if http_port != 80 %}
    <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /
      RewriteCond %{SERVER_PORT} ^80$
      RewriteRule ^.*$ http://%{SERVER_NAME}:{{ http_port }}/ [R=301,L]
    </IfModule>
    {% endif %}
  </Directory>

  ErrorLog /var/www/site/logs/adminer.error.log

  LogLevel warn
  CustomLog /var/www/site/logs/adminer.access.log combined
</VirtualHost>