<?php
// # {{ ansible_managed }}

if (!isset($_GET['username']) && !isset($_GET['file'])) {
  header('Location: http://' . $_SERVER['SERVER_NAME'] . ':{{ http_port }}/?username={{ dbuser }}');
}

header("Pragma: no-cache");
header("Cache-Control: s-maxage=0, max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0");
header("Expires: Sun, 19 Nov 1978 05:00:00 GMT");

function adminer_object() {
    
    class AdminerSoftware extends Adminer {
        
        public function name() {
            return 'Vlad';
        }
        
        public function credentials() {
            return array('localhost', '{{ dbuser }}', '{{ dbpass }}');
        }
    }
    
    return new AdminerSoftware();
}

include "./adminer-4.2.1.php";
