<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ admin_mail }}
  ServerName xhprof.{{ webserver_hostname }}

  DocumentRoot {{ apache2_docroot }}/xhprof_html/xhprof_html

  <Directory "{{ apache2_docroot }}/xhprof_html/xhprof_html/">
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
     {% if http_port != 80 %}
    <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /
      RewriteCond %{SERVER_PORT} ^80$
      RewriteRule ^.*$ http://%{SERVER_NAME}:{{ http_port }}/ [R=301,L]
    </IfModule>
    {% endif %}
  </Directory>

  ErrorLog {{ apache2_docroot }}/logs/xhprof.error.log

  LogLevel warn
  CustomLog {{ apache2_docroot }}/logs/xhprof.access.log combined
</VirtualHost>