{{ ansible_managed }}

Module Variables ("hostvars"):
--------------------------------
{% for host in groups['all'] %}
{{ hostvars[host]|to_nice_json }}
{% endfor %}

Environment Variables ("environment"):
--------------------------------
{{ environment | to_nice_json }}

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}