# Remove everything that might be in the docroot directory.
rm -rf {{ apache2_docroot }}/drupal/.* {{ apache2_docroot }}/drupal/*

# Clone Drupal 8 dev branch into the docroot direcory.
git clone --branch 8.0.x http://git.drupal.org/project/drupal.git {{ apache2_docroot }}/drupal

# Create a settings.php fie.
cp {{ apache2_docroot }}/drupal/sites/default/default.settings.php {{ apache2_docroot }}/drupal/sites/default/settings.php

# Create some directories.
mkdir {{ apache2_docroot }}/drupal/modules/contrib
mkdir {{ apache2_docroot }}/drupal/modules/custom

# Set some lenient permissions on the docroot directory.
chmod -R 777 {{ apache2_docroot }}/drupal

# Install Drupal using the drush-master.
cd {{ apache2_docroot }}/drupal
/home/vagrant/drush-master/drush site-install --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname[0] }} --account-name=admin --account-pass=password --yes
