<?php
//# {{ ansible_managed }}

// Set default destination for drush backups
$options['backup-dir'] = '/var/www/site/vlad_aux/drush_backups';

// Set default destination for drush sql dumps
$options['dump-dir'] = '/var/www/site/vlad_aux/db_io/drush_dumps';

// Set additional location for drush alias files
$options['alias-path'] = '/home/{{ user }}/.drush/aliases/separate';
