<?php

// Set default destination for drush backups
$options['backup-dir'] = '{{ apache2_docroot }}/vlad_aux/drush_backups';

// Set default destination for drush sql dumps
$options['dump-dir'] = '{{ apache2_docroot }}/vlad_aux/db_io/drush_dumps';

// Set additional location for drush alias files
$options['alias-path'] = '/home/{{ user }}/.drush/aliases/separate';
