# {{ ansible_managed }}

# Remove everything that might be in the docroot directory.
rm -rf /var/www/site/docroot/.* /var/www/site/docroot/*

# Move into the site directory.
cd /var/www/site/

# Download the latest recommended release of Drupal 8.x into docroot.
drush dl drupal-8 --drupal-project-rename=docroot --yes

# Move into the docroot directory.
cd docroot

# Create some directories.
mkdir /var/www/site/docroot/modules/contrib
mkdir /var/www/site/docroot/modules/custom

# Install Drupal.
drush site-install --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname[0] }} --account-name=admin --account-pass=password --yes
