# {{ ansible_managed }}
<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ admin_mail }}

  ServerName {{ item.address }}
  ServerAlias {{ item.aliases|join(' ') }}

  # Create an alias for the Vagrant Share service.
  ServerAlias *.vagrantshare.com

  DocumentRoot /var/www/vhosts/{{ item.directory }}/docroot

  <Directory /var/www/vhosts/{{ item.directory }}/docroot>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog /var/www/vhosts/{{ item.directory }}/logs/error.log

  LogLevel warn
  CustomLog /var/www/vhosts/{{ item.directory }}/logs/access.log combined
</VirtualHost>