<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ apache_admin_mail }}
  ServerName {{ apache_hostname }}
  ServerAlias {{ apache_hostname_nonwww }}

  DocumentRoot /var/www/{{ apache_hostname }}/docroot

  <Directory /var/www/{{ apache_hostname }}/docroot>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  Alias /adminer/ "/var/www/adminer/"
  <Directory "/var/www/adminer/">
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  ErrorLog /var/www/{{ apache_hostname }}/logs/error.log

  LogLevel warn
  CustomLog /var/www/{{ apache_hostname }}/logs/access.log combined
</VirtualHost>