<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ apache_admin_mail }}
  ServerName {{ apache_hostname }}
  ServerAlias {{ apache_hostname_nonwww }}

  DocumentRoot /var/www/{{ apache_hostname }}/docroot

  <Directory /var/www/{{ apache_hostname }}/docroot>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  Alias /adminer/ "/var/www/adminer/"
  <Directory "/var/www/adminer/">
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  Alias /xhprof/ "/var/www/xhprof_html/xhprof_html/"
  <Directory "/var/www/xhprof_html/xhprof_html/">
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all

    <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /xhprof/
      RewriteCond %{SERVER_PORT} ^80$
      RewriteRule ^.*$ http://%{SERVER_NAME}:8080/xhprof/ [R=301,L]
    </IfModule>
  </Directory>

  ErrorLog /var/www/{{ apache_hostname }}/logs/error.log

  LogLevel warn
  CustomLog /var/www/{{ apache_hostname }}/logs/access.log combined
</VirtualHost>