---
- name: Drush | copy drush/Drupal 7 installation script
  template: src=drupal/drupal7_install.j2 dest=/var/www/drupal7_install.sh
  tags: drupalinstall
  sudo: true

- name: Drush | set drush/Drupal 7 installation script to executable
  command: chmod +x /var/www/drupal7_install.sh
  tags: drupalinstall
  sudo: true

- name: Drush | copy drush/Drupal 8 installation script
  template: src=drupal/drupal8_install.j2 dest=/var/www/drupal8_install.sh
  tags: drupalinstall
  sudo: true

- name: Drush | set drush/Drupal 8 installation script to executable
  command: chmod +x /var/www/drupal8_install.sh
  tags: drupalinstall
  sudo: true